* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999999 !important;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

ul {
  list-style-type: none;
}

img {
  padding: 10px;
  max-width: 100%;
}

#top-bar hr {
  margin: 25px 0 0 0;
}

span {
  padding: 5px;
}

#top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(255,153,0,0.8);
}

#top-contacts {
  margin: 0;
  background-color: #4A4A4A;
}

#top-content {
  padding: 50px;
  margin-top: 120px;
  background: url("../images/headerpic.jpg") no-repeat;
  background-size: cover;
  min-height: 500px;
}

#name {
  margin: 15px 0 0 25px;
  display: inline-block;
}

#role {
  margin-left: 25px;
  font-size: 1.4em;
  color: #6495ED;
}

#skills-header, #skills {
  background-color: rgba(255,255,255,0.7);
}

#skills-header {
  color: #F5AE23;
  display: none;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

#skills .flex-item span {
  color: #000000;
}

#projects {
  background-color: #F3F3F3;
  padding: 15px 0;
}

#workExperience {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear: both;
}

#d3-container {
  background-color: orange;
  padding: 15px 0;
}

#d3-container p {
  padding-left: 5%;
}

#map {
  display: block;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#map-div {
  height: 600px;
  width: 100%;
}

#lets-connect {
  text-align: center;
  background-color: #4A4A4A;
}

#lets-connect h2 {
 text-align: center;
 background-color: #F5AE23;
}

.clearfix {
  overflow: auto;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

.welcome-message {
  /*padding-top: 18px;*/
  /*padding-top: 12px;*/
  padding-right: 10px;
  display: block;
  font-style: italic;
  font-size: 18px;
  /*color: #FFFFFF;*/
  color: #6495ED;
  background-color: rgba(0,0,0,0.5);
  line-height: 28px;
}

.welcome-message p {
  /*color: #999999;*/
  color: #FFFFFF;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 25px;
}

.education-entry a, .work-entry a, .project-entry a {
  pointer-events: none;
  cursor: default;
}

.education-entry a:nth-of-type(2n) {
  pointer-events: auto;
  cursor: pointer;
  color: #6495ED;
}

.project-entry {
  /*width: 48%;*/
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-item {
  display: inline;
}

.flex-item span:nth-child(odd) {
  color: #F5AE23;
}

.flex-item span:nth-child(even) {
  font-weight: bold;
  color: #FFFFFF;
}

.myCarousel {
  min-height: 250px;
  padding: 25px 0;
  margin-left: 5%;
  margin-bottom: 5%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.carousel-control {
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 15px;
  font: 12px sans-serif;
  background: #DDDDDD;
  border: solid 1px #AAAAAA;
  border-radius: 15px;
  pointer-events: none;
}

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 750px) {
  #role {
    display: inline-block;
  }

  #lets-connect {
    margin-top: 10%;
  }

  .welcome-message {
    padding: 10px;
    margin-top: 25px;
  }

  .project-entry {
    width: 100%;
  }
}

@media only screen and (max-width: 559px) {
  #top-content {
    margin-top: 150px;
  }
}

@media only screen and (min-width: 751px) {
  #skills-header, .biopic {
    display: block;
  }

  .myCarousel {
    width: 600px;
    min-height: 330px;
  }

  .welcome-message {
    height: 250px;
  }

}